<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Adomx - Responsive Bootstrap 4 Admin Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    
    <link href="/assets/css/vendor/bootstrap.min.css" rel="stylesheet" />

    <!-- Icon Font CSS -->
    <link href="/assets/css/vendor/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="/assets/css/vendor/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/vendor/themify-icons.css" rel="stylesheet" />
    <link href="/assets/css/vendor/cryptocurrency-icons.css" rel="stylesheet" />


    <!-- Plugins CSS -->
    <link href="/assets/css/plugins/plugins.css" rel="stylesheet" />

    <!-- Helper CSS -->
    <link href="/assets/css/helper.css" rel="stylesheet" />
   

    <!-- Main Style CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" />

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link href="/assets/css/style-primary.css" rel="stylesheet" />

</head>
<body>


    <div class="main-wrapper">


        <!-- Header Section Start -->
        <div class="header-section">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">

                    <!-- Header Logo (Header Left) Start -->
                    <div class="header-logo col-auto">
                        <a href="@Url.Action("Index", "Admin", new { area = "YönetimPaneli" })">
                            <img src="/assets/images/logo/logo.png" alt="">
                            <img src="/assets/images/logo/logo-light.png" class="logo-light" alt="">
                        </a>
                    </div><!-- Header Logo (Header Left) End -->
                    <!-- Header Right Start -->
                    <div class="header-right flex-grow-1 col-auto">
                        <div class="row justify-content-between align-items-center">

                            <!-- Side Header Toggle & Search Start -->
                            <div class="col-auto">
                                <div class="row align-items-center">

                                    <!--Side Header Toggle-->
                                    <div class="col-auto"><button class="side-header-toggle"><i class="zmdi zmdi-menu"></i></button></div>



                                </div>
                            </div><!-- Side Header Toggle & Search End -->
                            <!-- Header Notifications Area Start -->
                            <div class="col-auto">

                                <ul class="header-notification-area">

                                    <!--User-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#">
                                            <span class="user">
                                                <span class="avatar">
                                                    <img src="/assets/images/avatar/avatar-1.jpg" alt="">
                                                    <span class="status"></span>
                                                </span>
                                                <span class="name">Melike Arslan</span>
                                            </span>
                                        </a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-user">
                                            <div class="head">
                                                <h5 class="name"><a href="#">Madison Howard</a></h5>
                                                <a class="mail" href="#">mailnam@mail.com</a>
                                            </div>
                                            <div class="body">
                                                <ul>
                                                    <li><a href="#"><i class="zmdi zmdi-account"></i>Profile</a></li>
                                                    
                                                </ul>
                                                <ul>
                                                    <li><a href="#"><i class="zmdi zmdi-settings"></i>Setting</a></li>
                                                    <li><a href="@Url.Action("Logout", "Login", new { area = "YönetimPaneli" })"><i class="zmdi zmdi-lock-open"></i>Çıkış Yap </a></li>

                                                </ul>
                                               
                                            </div>
                                        </div>

                                    </li>

                                </ul>

                            </div><!-- Header Notifications Area End -->

                        </div>
                    </div><!-- Header Right End -->



                </div>
                
            </div>
        </div><!-- Header Section End -->



        <!-- Side Header Start -->
        <div class="side-header show">
            <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
            <!-- Side Header Inner Start -->
            <div class="side-header-inner custom-scroll">

                <nav class="side-header-menu" id="side-header-menu">
                    <ul>
                       @* <li class="has-sub-menu">
                            <a href="@Url.Action("Index","Anasayfas")"><i class="ti-home"></i> <span>Anasayfa</span></a>
                        </li>*@
                        <li ><a href="@Url.Action("Index", "Kategoris", new { area = "YönetimPaneli" })"><i class="ti-package"></i> <span>Kategori</span></a></li>
                        <li><a href="@Url.Action("Index", "urunlers", new { area = "YönetimPaneli" })"><i class="ti-package"></i> <span>Ürünler</span></a></li>
                        <li><a href="@Url.Action("Index", "iceriks", new { area = "YönetimPaneli" })"><i class="ti-package"></i> <span>İçerik</span></a></li>
                        <li><a href="@Url.Action("Index", "MasaAyirs", new { area = "YönetimPaneli" })"><i class="ti-package"></i> <span>Masa Ayır</span></a></li>
                        <li><a href="@Url.Action("Index", "YetkiliTabloes", new { area = "YönetimPaneli" })"><i class="ti-package"></i> <span>Kullanıcı</span></a></li>
                        <li><a href="@Url.Action("Index", "Hakkindas", new { area = "YönetimPaneli" })"><i class="ti-package"></i> <span>Hakkında</span></a></li>
                        <li><a href="@Url.Action("Index", "geribildirims", new { area = "YönetimPaneli" })"><i class="ti-package"></i> <span>Geri Bildirim</span></a></li>
                        <li><a href="@Url.Action("Index", "musteris", new { area = "YönetimPaneli" })"><i class="ti-package"></i> <span>Müşteri</span></a></li>
                        <li><a href="@Url.Action("FileUpload", "Admin", new { area = "YönetimPaneli" })"><i class="ti-package"></i> <span>Dosya Yükle</span></a></li>
                    </ul>
                        
                </nav>

            </div><!-- Side Header Inner End -->
        </div><!-- Side Header End -->
        <!-- Content Body Start -->
        <div class="content-body">

            <!-- Page Headings Start -->
            <div class="row justify-content-between align-items-center mb-10">

                <!-- Page Heading Start -->

                <div class="col-12 col-lg-auto mb-20">
                    <div class="page-heading">

                        <div class="container">
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                        </div>



                    </div>


                </div><!-- Page Heading End -->

            </div><!-- Page Headings End -->

        </div><!-- Content Body End -->
        <!-- Footer Section Start -->
       

    </div>








    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/tippy4.min.js.js"></script>
    <!--Main JS-->
    <script src="/assets/js/main.js"></script>
</body>
