@model RestoranOtomasyonu.Models.geribildirim

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/YönetimPaneli/Views/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>geribildirim</h4>
    <hr />
    <dl class="row">
        <dt class="col-12 mb-20">
            @Html.DisplayNameFor(model => model.musteri)
        </dt>
        <dd class="col-12 mb-20" >
            @Html.DisplayFor(model => model.musteri.MusteriID)
        </dd>
        <dt class="col-12 mb-20">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class="col-12 mb-20">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class ="col-12 mb-20">
            @Html.DisplayNameFor(model => model.YildizPuan)
        </dt>
        <dd class="col-12 mb-20">
            @Html.DisplayFor(model => model.YildizPuan)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.GID">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
