@model IEnumerable<RestoranOtomasyonu.ViewModels.RezervasyonOlusturViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/YönetimPaneli/Views/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyisim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Isim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyisim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-warning" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
